# PostgreSQL
POSTGRES_DB=quartierconnect
POSTGRES_USER=quartierconnect
POSTGRES_PASSWORD=password

# MongoDB
MONGO_USER=root
MONGO_PASSWORD=password

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=password

# Outbox
OUTBOX_MAX_ATTEMPTS=5
OUTBOX_RETRY_DELAY_MS=30000
OUTBOX_RETRY_MAX_DELAY_MS=300000
OUTBOX_CONTINUOUS_ENABLED=true
OUTBOX_POLL_INTERVAL_MS=5000
OUTBOX_BATCH_LIMIT=50
